html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

#aside {
    height: 100%;
    background: url('bg.png');
    overflow: scroll;
    float: left;
}

#map {
    height: 100%;
}

ul {
    width:100%;
    margin-right: 2em;
}

li {
    list-style-type: none;
    width: 90%;
    margin-left: -1.5em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #333333;
    background-color: #2ccd89;
}

li:hover {
    background-color: #ffa600;
}

li p {
    padding: .5em;
}

.item:hover {
    box-shadow: 0px 0px 10px #333333;
}

input {
    width: 15em;
    padding: .4em;
    border-radius: 5px;
    margin: 1em 0em 0em 1em;
    font-size: 1.15em;
    display: inline-block;
}

button {
    font-size: 1.15em;
    padding: .35em;
    display: inline-block;
    background-color: #46bcec;
    border-radius: 5px;
    cursor: pointer;
}
.showAside {
    margin-top: 25em;
}
